<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mshabab.cse"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--
     The following two permissions are not required to use
     Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/penguin"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <uses-library android:name="com.google.android.maps" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.mshabab.cse.FirstPage"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mshabab.cse.Minue"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.mshabab.cse.MINUE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mshabab.cse.Login"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.mshabab.cse.LOGIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mshabab.cse.DialogLogInF"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.mshabab.cse.Register"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.mshabab.cse.Locations"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.mshabab.cse.Maps"
            android:label="@string/app_name" >
        </activity>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyC3F9erkUAD5oah-igoFc63y7udXCe4RY4" />

        <activity
            android:name="com.mshabab.cse.LegalNoticesActivity"
            android:label="@string/title_activity_legal_notices" >
        </activity>
          <activity
            android:name="com.mshabab.cse.Blank"
            android:label="@string/app_name" >
        </activity>
        
           <activity
            android:name="com.mshabab.cse.AddLocation"
            android:label="@string/app_name" >
            
        </activity>
          
          
          <activity
            android:name="com.mshabab.cse.Welcome"
            android:label="@string/app_name" >
            
        </activity>
        <activity
            android:name="com.mshabab.cse.ChekIn"
            android:label="@string/app_name" >
            
        </activity>
         <activity
            android:name="com.mshabab.cse.DoBackGournd"
            android:label="@string/app_name" >
             </activity>
             
         
           <activity
            android:name="com.mshabab.cse.Find_My_Code"
            android:label="@string/app_name" >
             </activity>
                      
           <activity
            android:name="com.mshabab.cse.Find_preson"
            android:label="@string/app_name" >
             </activity>
          
           
            <activity
            android:name="com.mshabab.cse.MapsMarkers"
            android:label="@string/app_name" >
             </activity>
          
            
             <activity
            android:name="com.mshabab.cse.NearsLocations"
            android:label="@string/app_name" >
             </activity>
          
          
    </application>

</manifest>